/* @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--color-primary: #fff;
	--color-secondary: #000;
	--header-color: #f04e29;
	--sub-header-color: #ec9292;
	--border-color: #c6c6c6;
	--border-hover-color: #707070;
	--size-text-primary: 1.3rem;
	--size-text-secondary: 0.8rem;
	--size-text-price: 0.75rem;
	--nav-page-padding: 15px;
	font-family: 'Nanum Gothic', sans-serif;
}

.content-primary {
	height: 100%;
	max-width: 100%;
	position: absolute;
	top: 10%;
	left: 12.5%;
	/* overflow: auto; */
	/* TODO: WHY DOES IT FEEL LIKE THERE'S 2 SCROLLBARS */
	overflow-x: hidden;
	overflow-y: visible;
}

.menu-category {
	display: grid;
	/* width: 100%; */
	grid-template-columns: repeat(2, 1fr);
	max-width: 80%;
}

.header {
	font-size: var(--size-text-primary);
	color: var(--header-color);
	margin: 10px 0 10px 0;
	display: inline-block;
}

.sub-header {
	font-size: var(--size-text-primary);
	color: var(--sub-header-color);
	margin: 10px 0 10px 0;
}

.item {
	height: 150px;
	border: var(--border-color) 1px solid;
	border-radius: 8px;
	padding: 1.3rem;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.item:hover {
	border: 1px solid var(--border-hover-color);
}

.item .name {
	font-size: var(--size-text-secondary);
}

.item .description {
	margin-top: 5px;
	font-size: var(--size-text-secondary);
}

.item .price {
	position: absolute;
	font-size: var(--size-text-price);
	bottom: 5%;
}

.native-name {
	font-style: italic;
}

.menu-category.hand-rolls {
	display: block;
}

.hand-rolls-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.hand-roll-set {
	border: var(--border-color) 1px solid;
	border-radius: 8px;
	padding: 1.3rem;
	margin-right: 10px;
	margin-bottom: 10px;
}

.hand-roll-set:hover {
	border: 1px solid var(--border-hover-color);
}

.hand-roll-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--border-color);
}

.hand-roll-header h1 {
	font-size: var(--size-text-secondary);
}

.hand-roll-header .price {
	font-size: var(--size-text-price);
}

.roll-item {
	font-size: var(--size-text-secondary);
}
